*.o[0-9]*
*.e[0-9]*
*.exe
*.log
tags
grad.py
example.tgz
gstring.cpp_1
BUILD/
TriBITS/
getOptEnergy
makeXYZ
*.qsh
gfstringq.exe
*.qsh.*
gsmdone
qmaked
qmakeg
reset
status
tmp/
r
fort*
mxyzfile*
test_output
gsmdone1
stringfile.xyz0001*
compare_output
html/
